{% extends 'base.html.twig' %} {% block title %}Véritable{% endblock %} {% block
style %}

<link rel="stylesheet" href="{{ asset('style/home.css') }}" />{% endblock %} {%
block body %}
<div class="container">
  <div class="section slider">
    <div class="slider-content">
      <h2 class="slider-content-title">
        Les boxs cosmétiques DIY pour tous.tes
      </h2>
      <p class="slider-content-desc">
        Parce que chaque personne est singulière, tous les produits que nous
        vous proposons ont une composition personnalisable, qui s'adaptera aussi
        bien à vos précautions qu'à vos goûts.
      </p>
      <button class="slide-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon colorIcon"></i>
      </button>
    </div>
  </div>
  <div class="section certification">
    <div class="certification-content">
      <h2 class="certification-content-title">
        Car certifier apporte la preuve de notre ENGAGEMENT
      </h2>
      <p class="certification-content-desc">
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;
      </p>
      <button class="certification-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon whiteIcon"></i>
      </button>
    </div>
    <div class="certification-images">
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
    </div>
  </div>
  <div class="section needs">
    <div class="needs-content">
      <h2 class="needs-content-title">Quels sont mes BESOINS ?</h2>
      <p class="needs-content-desc">
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;
      </p>
      <button class="needs-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon colorIcon"></i>
      </button>
    </div>
  </div>

  <div class="commentary1">
    <div class="name">
      John Doe <br />
      Acheteur vérifié <br />
      France, 5 avril 2019 <br />
    </div>
    <div class="rate">
      ***** <br />
      Titre <br />
      A propos de l'huile essentielle <br />
    </div>
  </div>
</div>
{% endblock %}
