{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block style %}
<link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
{% endblock %}{% block body %}
<div class="container">
  <div class="content">
    <p>test</p>
  </div>
</div>

{% endblock %}
