{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block style %}
<link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
{% endblock %}{% block body %}
<div class="container">

  <div class="Home-page">
    <h2>Les boxs cosmétiques DIY pour tous.tes</h2>
    <p>Parce que chaque personne est singulière, tous les produits que nous vous proposons ont une composition personnalisable, qui s'adaptera aussi bien à vos précautions qu'à vos goûts.</p>
    <button class="default"
            type="button">
      Default
    </button>

  </div>
</div>

{% endblock %}
