{% extends 'base.html.twig' %} {% block title %}Véritable{% endblock %} {% block
style %}
<link rel="stylesheet" href="{{ asset('style/home.css') }}" />
{% extends 'base.html.twig' %} {% block title %}Véritable{% endblock %} {% block
style %}
<link rel="stylesheet" href="{{ asset('style/home.css') }}" />
{% endblock %}{% block body %}
<div class="container">
  <div class="slider">
    <div class="slider-content">
      <h2>Les boxs cosmétiques DIY pour tous.tes</h2>
      <p>
        Parce que chaque personne est singulière, tous les produits que nous
        vous proposons ont une composition personnalisable, qui s'adaptera aussi
        bien à vos précautions qu'à vos goûts.
      </p>
      <button class="default" type="button">Default</button>
    </div>
  </div>
  <div class="certification">
    <div class="certification-content">
      <h2>Car certifier apporte la preuve de notre ENGAGEMENT</h2>
      <p>
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;)
      </p>
      <button class="default" type="button">Default</button>
    </div>
  </div>
  <div class="needs">
    <div class="needs-content">
      <h2>Quels sont mes BESOINS ?</h2>
      <p>
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;)
      </p>
      <button class="default" type="button">Default</button>
    </div>
  </div>
  <div class="commentary">
    <div class="commentary-content">
      <h2>Quels sont mes BESOINS ?</h2>
      <p>
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;)
      </p>
      <button class="default" type="button">Default</button>
    </div>
    <div class="commentary1">
      <div class="name">
        John Doe <br />
        Acheteur vérifié <br />
        France, 5 avril 2019 <br />
      </div>
      <div class="rate">
        ***** <br />
        Titre <br />
        A propos de l'huile essentielle <br />
      </div>
    </div>
    {% endblock %}{% block body %}
    <div class="container">
      <div class="Home-page">
        <h2>Les boxs cosmétiques DIY pour tous.tes</h2>
        <p>
          Parce que chaque personne est singulière, tous les produits que nous
          vous proposons ont une composition personnalisable, qui s'adaptera
          aussi bien à vos précautions qu'à vos goûts.
        </p>
        <button class="default" type="button">Default</button>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
