{% extends 'base.html.twig' %} {% block title %}Véritable{% endblock %} {% block
style %}

<link rel="stylesheet" href="{{ asset('style/home.css') }}" />{% endblock %} {%
block body %}
<div class="container">
  <div class="section slider">
    <div class="slider-content">
      <h2 class="slider-content-title">
        Les boxs cosmétiques DIY pour tous.tes
      </h2>
      <p class="slider-content-desc">
        Parce que chaque personne est singulière, tous les produits que nous
        vous proposons ont une composition personnalisable, qui s'adaptera aussi
        bien à vos précautions qu'à vos goûts.
      </p>
      <button class="slide-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon colorIcon"></i>
      </button>
    </div>
  </div>
  <div class="section certification">
    <div class="certification-content">
      <h2 class="certification-content-title">
        Car certifier apporte la preuve de notre ENGAGEMENT
      </h2>
      <p class="certification-content-desc">
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;
      </p>
      <button class="certification-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon whiteIcon"></i>
      </button>
    </div>
    <div class="certification-images">
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
      <div class="certification-images-block">
        <img src="http://via.placeholder.com/200x300" alt="" />
      </div>
    </div>
  </div>
  <div class="section needs">
    <div class="needs-content">
      <h2 class="needs-content-title">Quels sont mes BESOINS ?</h2>
      <p class="needs-content-desc">
        On a pas encore de texte pour combler ici, il est beau mon texte non ?
        Aussi beau que toi qui est en train de le lire ;
      </p>
      <button class="needs-content-btn btn" type="button">
        Default <i class="fa fa-thin fa-arrow-right icon colorIcon"></i>
      </button>
    </div>
  </div>
  <div class="section blog">
    <h2>Notre blog</h2>
    <div class="blog-text">
      <div class="blog-text-part">
        cursus lacinia, ipsum arcu sagittis magna, non commodo odio tellus sit
        amet mauris. Phasellus sed urna non lorem accumsan malesuada eget a
        eros. Sed bibendum sapien ac commodo interdum. t a eros. Sed bibendum
        sapien ac commodo intum.
      </div>
      <div class="blog-text-part">
        Dans l’objectif de produire local au plus possible, nous avons fait le
        choix de favoriser les fournisseurs Français et Européen, afin de
        limiter notre emprunte carbone et encourager l’économie Européenne.
      </div>
      <div class="blog-text-part">
        <button class="blog-content-btn btn" type="button">
          Accéder à nos articles
          <i class="fa fa-thin fa-arrow-right icon colorIcon"></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
