nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 80px;
  padding: 25px;
}
.navbar li a {
  text-decoration: none;
  color: #503f37;
}

.icon {
  margin: 0 10px 0 10px;
}
.navbar li {
  margin: 25px;
}
.navbar {
  display: flex;
}
.navbar a {
  display: flex;
  align-items: center;
}
.show {
  display: block !important;
}
.hidden {
  display: none;
}
