{% block style %}
<link rel="stylesheet" href="{{ asset('style/footer.css') }}" />
{% endblock %}
<footer>
  <div class="newsletter">
    <p class="newsletter-title">Subscribe to our newsletter</p>
    <p class="newsletter-desc">
      Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus amet dui
      quam vitae quis leo.
    </p>
    <form action="POST" class="newsletter-form">
      <input
        type="text"
        name=""
        id=""
        placeholder="Entrer votre email"
        class="newsletter-input"
      />
      <button class="newsletter-form-btn">
        S'abonner <i class="fa fa-thin fa-arrow-right icon whiteIcon"></i>
      </button>
    </form>
  </div>
  <div class="footer-links">
    <div class="footer-links-section">
      <p class="footer-links-title">Commander en ligne</p>
      <ul class="footer-links-list">
        <li class="footer-links-list-desc"><a href=""> Paiement </a></li>
        <li class="footer-links-list-desc"><a href=""> Livraison </a></li>
        <li class="footer-links-list-desc">
          <a href=""> Suivi de commande </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> Condition de remboursement </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> Conditions générales de vente </a>
        </li>
      </ul>
    </div>
    <div class="footer-links-section">
      <p class="footer-links-title">Découvrir Transparence</p>
      <ul class="footer-links-list">
        <li class="footer-links-list-desc">
          <a href=""> Qui sommes-nous ? </a>
        </li>
        <li class="footer-links-list-desc"><a href=""> Nos engagements </a></li>
        <li class="footer-links-list-desc">
          <a href=""> Nos certifications </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> Blog </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> FAQ </a>
        </li>
      </ul>
    </div>
    <div class="footer-links-section">
      <p class="footer-links-title">Point info</p>
      <ul class="footer-links-list">
        <li class="footer-links-list-desc">
          <a href=""> Mentions légales </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> Gestion des cookies </a>
        </li>
        <li class="footer-links-list-desc">
          <a href=""> Plan du site </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <hr />
    <p class="copyright-text">
      Copyright © 2023 made by LECLUB | All Rights Reserved
    </p>
  </div>
</footer>
