<nav>
    <ul>
        <li><a href="#">Boxes soin visage</a></li>
        <li class="deroulant"><a href="#">Ingrédients et ustensiles</a>
            <ul class="sous">
                <li><a href="#">CSS display</a></li>
                <li><a href="#">CSS position</a></li>
                <li><a href="#">CSS float</a></li>
            </ul>
        </li>
        <li><a href="#">Notre blog</a></li>
        <li><a href="#">Les mieux notés</a></li>
        <li><a href="#">Connexion / Inscription</a></li>
        <li><a href="#">Panier</a></li>
    </ul>
</nav>